
body {
    color:aqua;
    background-color: burlywood;
}

.testDivs {
    border: 1px solid navy;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 50px;
 
}


#div1 {
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    transform-origin: left;

}

#div2 {
    position:absolute;
    right: 0px;
    transform: rotate(20deg) translate(200px,100px) scale(2,3) skew(-25deg, 20deg);


}