
body {
    color:aqua;
    background-color: burlywood;
}

.testDivs {
    border: 1px solid navy;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 50px;
 
}


#div1 {
    margin-left: auto;
    margin-right: auto;

}

#div2 {
    position:absolute;
    right: 0px;

}